[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.1.0"
pillow = "*"
django-auto-logout = "*"
django-heroku = "*"
geoip2 = "*"
ipapi = "*"
environs = {version = "==8.0.0", extras = ["django"]}
whitenoise = "==5.1.0"
gunicorn = "==19.9.0"

[dev-packages]

[requires]
python_version = "3.9"
