*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul{
    list-style-type: none;
}
.header-container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background: #036055;
    padding: 10px;
    align-items: center;
    cursor: pointer;
    transition: all 0.4s ease;
}
.header-container ul li img{
    width: 25px;
}
.header-container ul {
    display: flex;
    align-items: center;
}
.header-container ul li {
    margin-left: 20px;
}
.header-container ul .user{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.header-container ul li h3{
    font-size: 20px;
    color: #fff;
    padding-bottom: 3px;
}
.header-container ul li p{
    color: #ccc;
}
.head-chat{
    margin: 0% auto;
    height: 66vh;
    width: 71%;
    background-image: url("bg.e27648658f73.jpeg");
    background-position: center;
    transition: all 0.4s ease;
    overflow-y: scroll;
    position: relative;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column-reverse;
}
.header-form{
   display: flex;
   align-items: center;
   padding:0px 20px;
   width: 67%;
   margin: 0 auto;
   position: relative;
   bottom: 50px;
}
.header-form form{
    border: 3px solid #ccc;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 40px;
    padding: 7px 10px;
}

.header-form img{
    width: 30px;
    cursor: pointer;
}
.header-form form{
    width: 95%;
}
/**/
.input-chat{
    width: 84%;
    border: none;
    outline: none;
    margin-right: 5px;
}
.
.header-form form img:nth-of-type(1){
    margin-right: 20px;
}
.header-form form img:nth-of-type(2){
    margin-right: 10px;
}
.header-form .img-form button{
    border: none;
}




@media (max-width:700px){
    .head-chat{
        width: 100%;
    }
    .header-container{
        width: 96%;
        padding: 10px;
    }
   .second ul{
       padding-right: 20px !important;
   }
   .header-form{
    width: 90%;
    margin: 0 auto;
    }
}

@media (max-width:450px){
    .header-form img{
        width: 30px;
    }
    .header-form{
        width: 95%;
        margin: 0 auto 10px auto;
        padding-right: 10px;
        display: flex;
        justify-content: center;
        padding-left: 0px;
    }
}


.head-chat-text{
    padding-top: 10px;
}


.tg-chat .my-tg-text{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .tg-chat p{
    border: 1px solid #fff;
    padding: 4px 6px;
    border-radius: 8px;
    display: inline-block;
    background-color: #fff;
    color: #212529;
    position: relative;
  }
  .tg-chat .you-tg-text{
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .tg-chat .my-tg-text img{
    border-radius: 50%;
    position: relative;
    bottom: 10px;
    right: 10px;
  }
  .tg-chat .you-tg-text img{
    border-radius: 50%;
    position: relative;
    bottom: 10px;
    right: 10px;
  }

  .tg-chat .my-tg-text span,.tg-chat .you-tg-text span{
    font-size: 10;
    color: rgb(134, 131, 131);
    margin-left: 15px;
    display: block;
    position: absolute;
    right: 2px;
    bottom: 2px;
 
  } 
  .tg-chat p{
    width: 220px;
    position: relative;
  }
  